body {
  text-align: center;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

main {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}

ul {
  list-style-type: none;
}

#optionsList .selected {
  font-weight: bold;
  font-size:18px;
}
